<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hamilton.jams">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LatinoActivity"
            android:label="@string/latino"
            android:theme="@style/LatinoTheme"/>
        <activity
            android:name=".VideoGamesActivity"
            android:label="@string/video_games"
            android:theme="@style/VideoGamesTheme"/>
        <activity
            android:name=".AnimeActivity"
            android:label="@string/anime"
            android:theme="@style/AnimeTheme"/>
        <activity
            android:name=".DanceActivity"
            android:label="@string/dance"
            android:theme="@style/DanceTheme"/>
        <activity
            android:name=".OldSchoolActivity"
            android:label="@string/old_school"
            android:theme="@style/OldSchoolTheme"/>
        <activity
            android:name=".FilmsActivity"
            android:label="@string/soundtracks"
            android:theme="@style/FilmsTheme"/>
    </application>

</manifest>